<div class="row">
  <div class="col-12 d-flex">
  <h5 style="color: black;">Looking for a Webdesigner ?</h5>
  </div>
  <div class="col-12 d-flex">
  <p><%= mail_to "send me an email ! ", "steph[dash]a[at]live[dot]com" %></p>
</div>
</div>
