



<div class="card">
    <ul class="list-group-item list-group-flush">
      <li class="list-group-item">
        <h5 class="display-5">Edition du comment n°<%= @comment.id%></h5>
      </li>
    <%= form_tag url_for(action: "update"), method: "PATCH" do %>
      <li class="list-group-item">
        <h5><label>Content</label></h5>
          </li>
          <li class="list-group-item">
        <%= text_area_tag :content, @comment.content, class: 'form-control' %>
        </li>
      <li class="list-group-item">
    <button type="submit" class="btn">Sauvegarder les modifs du gossip</button>
    </li>
  </ul>
    <% end %>
</div>
