

<div class="card">
  <ul class="list-group-item list-group-flush">
<%= form_tag url_for(action: 'create'), method: "post" do %>
  <li class="list-group-item">
    <h5><%= label_tag 'Content' %></h5>
      </li>
        <li class="list-group-item">
          <%= text_area_tag 'content', @comment.content %>
          </li>
        <li class="list-group-item">
      <button type="submit" class="btn">Create comment</button>
    </li>
  </ul>
</div>
<% end %>
