
  <div class="row">
    <div class="col-12 d-flex justify-content-start">
      <h4 class="display-4">Edition du gossip n°<%= @gossip.id%></h4>
    </div>
  </div>
  <div class="card">
    <%= form_for @gossip do |f| %>
    <ul class="list-group-item list-group-flush">
      <li class='list-group-item'>
          <label>Title</label>
          <%= f.text_field :title, class: 'form-control' %>
      </li>
      <li class='list-group-item'>
          <label>Content</label>
          <%= f.text_area :content, class: 'form-control' %>
      </li>
      <li class='list-group-item'>
          <button type="submit" class="btn">Save</button>
      </li>
    </ul>

    <% end %>
</div>
