
@import "bootstrap";

$font-stack: 'Permanent Marker', cursive;
$fc: red;
$hc: #6c6c6c;

.container-fluid {
    height: 60vh;
    margin-right:auto;
    margin-left:auto
 }

a {
  color: $fc;
}

// a:hover {
//   text-decoration: none;
//   color: transparent;
//    text-shadow: 0 0 5px rgba(0,0,0,0.5);
// }

/* Circle */
a:hover {
  color: $hc;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
}


h5, h6 {
  font-family: $font-stack;
  color: $fc;
}

h5.city {
  color: black;
}

h4 {
  font-family: $font-stack;
  color: black;

}

p { font-weight: 700;}

p.content-gossip {
  font-size: 4rem; font-weight: 700;
}
p.title-gossip {
  font-size: 5rem; font-weight: 700;
  // // text-decoration-line: underline;
  // text-decoration-color: $fc;
}

p.sub-infos {
  font-size: 1rem; font-weight: 400;
}

p.italic {
  font-style: italic;
}


h5:hover {
  color: $hc;

}


span.sound {
      z-index: 10;
      top: 8%;
      left: 45%;
      display: block;
      position: fixed;
}

a.nav-link.gossip-create {
  font-family: $font-stack;
  font-size: 2.5rem;
  color: black;
  cursor: pointer !important;
}

.img-team {
  width: 100%;
}

.card {
  border: 10px solid black;
  text-decoration: none;
  list-style-type: none;
}

.btn {
  height: auto;
  color: red;
  font-family: $font-stack;
}

.list-group-item {border: none;}
li.list-group-item { border: none;}

.shape-bg {
  overflow: hidden;
}

.border-box {
  border: 15px solid black;
}
